<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% if current_user == @lense.user %>
        <h2>Edit Your Listing</h2>
        <%= render 'layouts/edit_lens_form', lense: @lense %>
      <% else %>
        <h2>You are not authorized to edit this lens.</h2>
      <% end %>
      <%= link_to 'Back to lens', @lense, class: "btn btn-outline-dark btn-big button-space" %>
    </div>
  </div>
</div>
