.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-bottom: 30px;
}

.search {
  font-size: 17px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.search input {
  color: black;
  font-size: 17px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.search select {
  color: black;
  font-size: 17px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.search button {
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  background: #6092d1;
  border-color:  #6092d1;
}
