<% if current_user == @booking.lense.user %>
  <h1>Respond to Booking Request</h1>
  <%= render 'layouts/approve_booking_form', booking: @booking %>
<% elsif current_user == @booking.user %>
  <h1>Edit Your Booking</h1>
  <%= render 'layouts/edit_booking_form', booking: @booking %>
<% else %>
  <h1>You are not authorized to edit this booking.</h1>
<% end %>


<%= link_to 'Back', @lense %>

