<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h1>New Booking</h1>
        <% if current_user == @booking.lense.user %>
          <p>You can't book this lens -- You already own it!</p>
        <% else %>
          <%= render 'layouts/add_booking_form', booking: @booking %>
        <% end %>
      <div class="button-space">
        <%= link_to 'Back', lense_path(@booking.lense), class: "btn btn-outline-dark btn-block" %>
      </div>
    </div>
  </div>
</div>
