<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/tanjamiee/image/upload/v1502794310/lens-190972_1920_baoktc.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Nikon 50mm Portraiture lens</h2>
          <p>9/10 condition</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tanjamiee">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/tanjamiee/image/upload/v1502794303/Rokinon-35mm-Cine-T1.5-Lens-e1439043459276_2_yrjszp.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Rokinon 35mm Cine T1.5 Lens</h2>
          <p>6/10 condition, has fungus</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/jasminetanom">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/tanjamiee/image/upload/v1502794310/_dsc4808_0_2_b7kqao.jpg');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Sigma 17-50mm f/2.8 Lens</h2>
          <p>10/10 condition, brand new</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/judithyhh">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
