<h1> Bookings Received </h1>
<% @bookings_received.each do |booking| %>
<p><%= booking.id %></p>
<% end %>

<h1> Bookings Requested </h1>
<% @bookings_requested.each do |booking| %>
<p><%= booking.id %></p>
<% end %>
